.header-title {
    font-size: 2em;
}

.header-subtitle {
    font-weight: 400;
    font-size: 1em;
    color: $medium-grey;
}

.card {
    margin-top: 0.5em;
    height: 12em;
    border-radius: 0.125em !important;
}

.search-bar {
    height: 0.9em;
    width: 100% !important;
}

.container-main {
    margin-top: 8em;
}

.container-empty {
    padding-top: 3em;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 1.25em;
    color: $medium-grey;
}

.icon-add-new-note {
    padding-right: 1em;
}

.card-settings {
    color: $medium-grey;
}

.card-settings:hover {
    color: $light-blue;
}

.card-settings-container {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.card-note-title:hover {
    color: $light-blue;
    cursor: pointer;
}

.btn-modal-card-settings {
    padding: 1.25em;
    font-size: 0.75em;
}
