.header-title {
    font-size: 2em;
}

.header-subtitle {
    font-weight: 400;
    font-size: 1em;
    color: $medium-grey;
}

.card {
    margin-top: 0.5em;
    height: 12em;
    border-radius: 0.125em !important;
}

.search-bar {
    height: 0.9em;
    width: 100% !important;
}

.container-main {
    margin-top: 8em;
}
