// Fonts:
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
$roboto-mono: 'Roboto Mono', monospace;

// Colors:
$lighter-grey: #F5F5F5;
$light-grey: #E8EAF6;
$light-medium-grey: #BDBDBD;
$medium-grey: #757575;
$indigo: #1565C0;
$dark-indigo: #3949AB;
$lavender: #C5CAE9;
$sky-blue: #90CAF9;
$light-blue: #2196F3;
